.diagram
  .inputs
    each i in locals.top_buckets
      .input
        h3=i.headline
        ul
          each bullet in i.bullets
            li
              p=bullet.bullet_content
  .arrows
    each i,idx in locals.top_buckets
      .arrow(id="arrow-" + idx)
        .inner
  .hie-box
    .inner
      h2=locals.middle_bucket
      .boxes
        each box in locals.middle_bucket_proof_points
          .box
            p=box.proof_point
    .shadow
      .divot-left
      .divot-right
  .bottom-buckets
    .bucket.left
      .header=locals.bottom_bucket_left_headline
      .things
        each thing in locals.bottom_bucket_left_content_blocks
          .thing
            .inner
              p=thing.content
    .bucket.right
      .header=locals.bottom_bucket_right_headline
      .things
        each thing in locals.bottom_bucket_right_content_blocks
          .thing
            .inner
              P=thing.content