-
    var products = [];
    for (i=0;i<locals.length;i++) {
        products.push(processProduct(locals[i]));
    }
    function processProduct(p) {

        return [{
            "label":"Manufacturer",
            "type":"alpha",
            "value":p.info.brand,
            "link":p.url
        },{
            "label":"Strain",
            "type":"alpha",
            "value":p.info.strain,
            "link":p.url
        },{
            "label":"Dispensary",
            "type":"alpha",
            "value":p.info.dispensary            
        },{
            "label":"Listed THC",
            "type":"number",
            "value":parseFloat(p.info.listed_thc_percentage.replace("%","")) + "%" 
        },{
            "label":"Grams Purchased",
            "type":"number",
            "value":p.info.weight           
        },{
            "label":"Cost/Gram",
            "type":"number",
            "value":"$" + parseFloat(p.info.cost / p.info.weight).toFixed(2)          
        },{
            "label":"Packaged",
            "type":"date",
            "value":p.info.package_date           
        },{
            "label":"Purchased",
            "type":"date",
            "value":p.info.purchase_date            
        },{
            "label":"Taste",
            "type":"number",
            "value":p.scores.taste            
        },{
            "label":"Appearance",
            "type":"number",
            "value":p.scores.quality            
        },{
            "label":"Strength",
            "type":"number",
            "value":p.scores.strength            
        },{
            "label":"Total",
            "type":"number",
            "value":parseInt(p.scores.taste) + parseInt(p.scores.quality) + parseInt(p.scores.strength)         
        }


        ]
    }
    console.log(products);

table.sortable
    thead
        tr.header-header
            th.source-header(colspan="3")
                p Source
            th.details-header(colspan="5")
                p Deets
            th.score-header(colspan="4")
                p Scores
        tr
            each header in products[0]
                th
                    p!=header.label
                    .sort-table-arrows
                        button.button(data-sort=header.label.toLowerCase().replace(/\W/g, ''),data-direction="true",data-type=header.type)
                            i.fa.fa-chevron-up
                        button.button(data-sort=header.label.toLowerCase().replace(/\W/g, ''),data-direction="false",data-type=header.type)
                            i.fa.fa-chevron-down
    tbody
        each product in products
            tr
                each item in product
                    td
                        if (item.link)
                            a(href=item.link)
                                p(class=item.label.toLowerCase().replace(/\W/g, ''))!=item.value
                        else
                            p(class=item.label.toLowerCase().replace(/\W/g, ''))!=item.value